
body, html {
   /*Tipografia de Parrafos*/
   font-family: 'Abel', sans-serif;
   
}

/*Tipografia de Titulos*/
h5{
      font-family: 'Abel', sans-serif;
      color:#black;
}

/*Tipografia de Texto*/
h6{
      font-family: 'Montserrat 500', sans-serif;
      color:#black;
}

 



nav {
      position: fixed;
      width: 100%;
      line-height: 40px;
}

nav ul {
      line-height: 10px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 8px 85px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}



.btn{
	width:60%;
	height: 50px;
	margin:30px;
}

.btn-primary{
	background-color: #001433;
	border-color: #001433;
}

.btn-secundary
background-color: #C70039;
	border-color: #C70039;
}

.btn-primary:hover{
	background-color: #1a75ff;
	color:#000000;
	border-color: #660033;	
}

.logo1{
      text-align: left;
}

#s0{
      background-color: #E3E3E3;
}

#s1{
      background-color: #FFFFFF;
}

#s2{
	background-color: #D8D5D5;
}

#s3{
	background-color: #FFFFFF;
}

#s4{
	background-color: #FFFFFF;
}

#s5{
	background-color: #001433;
}

.Footer{
 color: #fff;
 font-size: 16px;
}




 
